.userList-container{
    padding:30px 0px;
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap:30px;
}

.user-profile-link{
    display: flex;
    align-items:center;
    justify-content: flex-start;
    text-decoration: none;
    color:black;
}

.user-profile-link h4{
    margin:0px 10px;
    font-weight: revert;
    line-height: initial;
    font-size: initial;
}

.user-profile-link:hover{
    color:black;
}

.user-details-container{
    width:100%;
    margin-top:50px;
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
}

.user-details{
    margin-bottom: 10px;
    display:flex;
    align-items: flex-start;
}

.user-name{
    padding-left:20px;
}

.user-name p{
    color:#7e7e7e;
}

.edit-profile-btn{
    padding:8px 10px;
    border:solid 1px #737373;
    border-radius:2px;
    background-color:white;
    cursor:pointer;
    transition: 0.3s;
}

.edit-profile-btn:hover{
    background-color:#f5f9fc;
}

.edit-profile-title{
    padding:20px 0px;
    border-bottom:solid 1px #dbd9d9;
}

.edit-profile-title-2{
    color:gray;
    font-weight: 400;
}

.edit-profile-form{
    padding:20px;
    border:solid 1px #dbd9d9;
    border-radius: 5px;
}

.edit-profile-form label h3,
.edit-profile-form label p{
    margin:0%;
    padding:3px 0px;
}

.edit-profile-form label input, 
.edit-profile-form label textarea{
    padding:5px;
    margin-bottom:20px;
    border:solid 1px #dbd9d9;
    width:50%;
}

.user-submit-btn{
    padding:10px;
    background-color:#0a95ff;
    color:white;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.user-submit-btn:hover{
    background-color:#0074cc;
}

.post-like-button,.post-delete-button{
    padding:0px;
    background-color: transparent;
    border:none;
    font-size:17px;
    transition: 0.2s;
}

.post-like-button:hover{
    transform: scale(1.2);
}

.post-delete-button:hover{
    transform: scale(1.05);
}

.Post-container{
    width:80%;
    margin:10px;
    margin-left: 0px;
    padding: 20px;
    border: solid 1px #dbd9d9;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.image-container img,.image-container video{
    max-width:80%;
    max-height:300px;
}

.control-container-2{
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
}

.control-container{
    display: flex;
    justify-content: space-between;
}

.post-controls{
    margin:5px;
    display: flex;
    align-items: center;

}

.post-icon{
    color: #009dff;
}


